$white: #ffffff;
$grey-1: $white;
$grey-2: #fafafa;
$grey-3: #f5f5f5;
$grey-4: #f0f0f0;
$grey-5: #d9d9d9;
$grey-6: #bfbfbf;
$grey-7: #8c8c8c;
$grey-8: #595959;
$grey-9: #434343;
$grey-10: #262626;
$grey-11: #1f1f1f;
$grey-12: #141414;
$grey-13: #000000;
$black: $grey-13;

$red: #f56c6c;
$magenta: #f759ab;
$purple: #9254de;
$geekBlue: #597ef7;
$blue: #409eff;
$cyan: #36cfc9;
$green: #67c23a;
$limeGreen: #bae637;
$yellow: #ffec3d;
$gold: #ffc53d;
$orange: #e6a23c;

:export {
  red: $red;
  magenta: $magenta;
  purple: $purple;
  geekBlue: $geekBlue;
  blue: $blue;
  cyan: $cyan;
  green: $green;
  limeGreen: $limeGreen;
  yellow: $yellow;
  gold: $gold;
  orange: $orange;
}
