Flask_CSV==1.2.0
gevent==1.4.0
requests==2.21.0
Scrapy==1.6.0
pymongo==3.7.2
APScheduler==3.6.0
coloredlogs==10.0
Flask_RESTful==0.3.7
Flask==1.0.2
lxml==4.3.3
Flask_Cors==3.0.7
Werkzeug==0.15.2
eventlet
Celery
Flower
